@model IEnumerable<CarRental.CarRental.Domain.Vehicles.Vehicle>

@{
    ViewData["Title"] = "Araç Yönetimi";
}

<h2>@ViewData["Title"]</h2>

<!-- Araç Ekle Butonu -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Araç Ekle
</button>

<!-- Araçlar Tablosu -->
<table class="table table-bordered mt-3" id="vehiclesTable">
    <thead>
        <tr>
            <th>Araç Adı</th>
            <th>Plakası</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in Model)
        {
            <tr id="vehicle-@vehicle.Id">
                <td>@vehicle.Name</td>
                <td>@vehicle.Plate</td>
                <td>
                    <button type="button" id="editVehicle_@vehicle.Id" data-id="@vehicle.Id" class="btn btn-warning editBtn" data-bs-toggle="modal" data-bs-target="#editModal">
                        Düzenle
                    </button>
                    <button class="btn btn-danger delete-button" data-id="@vehicle.Id" data-bs-toggle="modal" data-bs-target="#deleteModal">Sil</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Araç Ekleme Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="vehicleModalLabel">Araç Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="vehicleForm">
                    <input type="hidden" id="vehicleId" name="Id" />

                    <div class="form-group">
                        <label for="name">Araç Adı</label>
                        <input type="text" class="form-control" id="name" name="Name" placeholder="Name" required />
                    </div>

                    <div class="form-group">
                        <label for="plate">Plaka</label>
                        <input type="text" class="form-control" id="plate" name="Plate" placeholder="Plate" required />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveButton">Kaydet</button>
            </div>
        </div>
    </div>
</div>


<!-- Düzenleme Modalı -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="vehicleModalLabel">Araç Düzenle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="vehicleForm">
                    <input type="hidden" id="editvehicleId" name="Id" />

                    <div class="form-group">
                        <label for="name">Araç Adı</label>
                        <input type="text" class="form-control" id="editname" name="Name" placeholder="Name" required />
                    </div>

                    <div class="form-group">
                        <label for="plate">Plaka</label>
                        <input type="text" class="form-control" id="editplate" name="Plate" placeholder="Plate" required />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="editButton">Kaydet</button>
            </div>
        </div>
    </div>
</div>


<!-- Silme Onayı Modalı -->
<div class="modal" tabindex="-1" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Araç Silme</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Silmek istediğinizden emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Evet</button>
            </div>
        </div>
    </div>
</div>



@section Scripts {

    <script>

        $(document).ready(function () {


            $("#saveButton").click(function (e) {
                debugger;
                e.preventDefault();
                var formData = new FormData();
                formData.append("Id", $("#vehicleId").val());
                formData.append("Name", $("#name").val());
                formData.append("Plate", $("#plate").val());

                $.ajax({
                    url: '/Vehicle/CreateFunc',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        $('#exampleModal').modal('hide');
                        location.reload();
                    },
                    error: function (xhr, status, error) {
                        alert("Hata: " + xhr.responseText);
                    }
                });
            });
        });

        $('.editBtn').click(function () {

            var vehicleId = $(this).data('id');
            var vehicleName = $(this).closest('tr').find('td:eq(0)').text();
            var vehiclePlate = $(this).closest('tr').find('td:eq(1)').text();


            $('#editvehicleId').val(vehicleId);
            $('#editname').val(vehicleName);
            $('#editplate').val(vehiclePlate);

            $('#editModal').modal('show');

        });

        $('#editButton').click(function (e) {
            e.preventDefault();

            var vehicleId = $('#editvehicleId').val();
            var vehicleName = $('#editname').val();
            var vehiclePlate = $('#editplate').val();

            var formData = new FormData();
            formData.append("Id", vehicleId);
            formData.append("Name", vehicleName);
            formData.append("Plate", vehiclePlate);

            $.ajax({
                url: '/Vehicle/EditFunc',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    $('#editModal').modal('hide');
                    location.reload();
                },
                error: function (xhr, status, error) {
                    alert("Hata: " + xhr.responseText);
                }
            });
        });



        $('.delete-button').click(function () {
            const vehicleId = $(this).data('id');
            $('#confirmDeleteButton').data('id', vehicleId);
        });

        $('#confirmDeleteButton').click(async function () {
            const vehicleId = $(this).data('id');

            const response = await fetch(`/Vehicle/Delete/${vehicleId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            if (response.ok) {
                $('#deleteModal').modal('hide');
                $(`#vehicle-${vehicleId}`).remove();
            } else {
                alert('Silme işlemi başarısız oldu.');
            }
        });

    </script>
}
